@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --black-one: #121212;
  --black-two: #757575;
  --blue: #0290ff;
  --font: montserrat;
}

.rootContainer {
  width: 1400px;
  margin: auto;
}
